<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css"></link>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <h1>Home Page</h1>
    <p>We are using ejs, that will give you solution for calculate any thing in your html code</p>
    
    <span>sum of 3 + 4 = <%= 3+4 %></span>
    <script src="/javascripts/script.js"></script>
</body>
</html>